<?xml version="1.0" ?>
<!--
/**
 * Mucan Package
 *
 * @copyright Mucan (https://github.com/mucan54)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Mucan\Badges\Api\BadgeRepositoryInterface" type="Mucan\Badges\Model\BadgeRepository"/>
	<preference for="Mucan\Badges\Api\Data\BadgeInterface" type="Mucan\Badges\Model\Badge"/>
	<preference for="Mucan\Badges\Api\Data\BadgeSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Mucan\Badges\Model\ResourceModel\Badge\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">mucan_badges_badge</argument>
			<argument name="resourceModel" xsi:type="string">Mucan\Badges\Model\ResourceModel\Badge\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="mucan_badges_badge_listing_data_source" xsi:type="string">Mucan\Badges\Model\ResourceModel\Badge\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
    <type name="Magento\Catalog\Block\Product\ImageFactory">
       <plugin name="ImageFactoryPlugin" type="Mucan\Badges\Plugins\ImageFactoryPlugin" sortOrder="1" disabled="false" />
    </type>
</config>
